*{
    font-family: "Trebuchet MS";
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: salmon;
}
.buku{
    display: flex;
    justify-content: center;
    text-align: center;
}
table{
    border: 1px  solid;
    border-collapse: collapse;
    border-spacing: 0;
    width: 40%;
    margin: 10px auto 10px auto;
}

