/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(./style.css);
*, html, body{
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  margin: 0px;
  padding: 0px;
  font-family:'Poppins',sans-serif;
  background-color: #ffffff;
}

#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-image: url(../assets/background-login2.png);
  margin: auto;
}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading span{
  margin-top: 15px;
  color: tomato;
  font-size: 40px;
  font-weight: bold;
}
.blog-heading h3{
  font-size: 2.1rem;
  font-family: 'Poppins' sans-serif;
  color: #367fc7;
  font-weight: 800;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.blog-box{
  padding: 50px;
  width: 260px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin: 15px;
  box-shadow: 8px 5px 8px #535863;
  border-radius: 5px;
}

.blog-img{
  width: 100%;
}

.blog-img li{
  list-style: none;
  border: none;
  text-align: center;
}

.blog-img a img{
  justify-content: center;
  width: 160px;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  padding: 10px;
}

.blog-text a{
  list-style: none;
  text-align: center;
  padding: 10px;
}

.blog-text .blog-title{
  font-size: 18px;
  font-weight: 200;
  color: #272727;
}

.blog-text .blog-title:hover{
  color: #1098d6;
  transition: all ease 0.2s;
}

@media only screen and (max-width:768px) {
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translate(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
     position: fixed;
     left: -100%;
     top: 50px;
     flex-direction: block;
     width: 100%;
     text-align: center;
     transition: 0.2s;
     box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
     background-color: #1098d6;
     background-size: 30px;
  }

  .menu.active{
      margin: 15px 0;
  }

  .menu.active{
      left: 0;
  }
  .tbl-biru{
      background-color: #fc5185;
  }
  .tbl-biru:hover{
      background-color: #97d2ec;
      color:#bbbbbb;
  }
}