@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    background-image: url(../assets/background-login.png);
    background-size: contain;
}

section{
    padding: 5rem 9% ;
}

.navbar{
    max-width: 1250px;
    margin-inline: 50px;
}
.logo a {
    display: flex;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 800;
    width: 0;
    height: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #364f6b; 
    margin-left: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
}


.menu ul li a:hover {
    color: #ffff;
    transition: all 0.4s ease;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    font-family:'Poppins',sans-serif; 
    padding: 0px 16px 0px 16px;
    line-height: 40px;
    align-items: center; 
    background-color: inherit;
    margin: 0;
  }

  .dropdown .dropbtn:hover{
    color: #FFF;
    transition: all 0.4s ease;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropbtn i{
    margin: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 150px;

  }

nav {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background: #97d2ec;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 2px 5px 6px 2px rgb(214, 193, 193);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    align-items: center;
    line-height: 40px;
}

nav ul li a :hover {
    text-decoration: underline;
    background-color: #fff;
}   

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.hamburger{
    display: none;
    cursor: pointer;
    
}

.bar{
    display: block;
    width: 45px;
    height: 7px;
    margin :7px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
}


.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(0, 0, 0,0.1);
    overflow: hidden;
}

.container .froms .form-container {
    display: flex;
    align-items: center;
    width: 200%;
    height: 500px;
    transition: height 0.2s ease;
    margin-top: -30px;
}

.container .form-container {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.container .form-container  {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    transition: margin-left 0.18s ease;
}

.form-container .from-login{
    margin-left: 30px;

}

.container.active .from-login{
    margin-left: 50px;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .from-signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .from-signup{
    opacity: 1;
    transition: opacity 0.18s ease;
}

.container.active .from-signup{
    margin-left: -38%;
}
.container.active .froms .form-container {
    height: 500px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .form-container .title{
    position: relative;
    font-size: 26px;
    font-weight: 500;
}

.form-container .title::before{
    display: flex;
    align-items: center;
    justify-content: ce;
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 25px;
}

.form-container .input-field{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    position: relative;
}

.input-field input{
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2 ease;
}
.input-field input:is(:focus, :user-valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    left: 0;
    transition: all 0.2 ease;
}


.form-container .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin:  0 8px -2px 4px;
    accent-color: #4070f4;
}

.form-container .text{
    font-size: 14px;
    color: #333;
}

.form-container .text-2{
    font-size: 14px;
    color: #4070f4;
}

.form-container .text-2:hover{
    color: #265df2;
}

.form-container a{
    text-decoration: none;
}
.form-container a:hover{
    text-decoration: underline;
    color: #4070f4;
}

.form-container .button input{
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #4070f4;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form-container .button input:hover{
    background-color: #265df2;
}

.form-container .login-signup{
    margin-top: 30px;
}


@media only screen and (max-width:768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu {
       position: fixed;
       left: -100%;
       top: 50px;
       flex-direction: block;
       width: 100%;
       text-align: center;
       transition: 0.2s;
       box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
       background-color: #1098d6;
       background-size: 30px;
    }

    .menu.active{
        margin: 15px 0;
    }

    .menu.active{
        left: 0;
    }
    .tbl-biru{
        background-color: #fc5185;
    }
    .tbl-biru:hover{
        background-color: #97d2ec;
        color:#bbbbbb;
    }
}