@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*, html{
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body {
    margin: 0px;
    padding: 0px;
    font-family:'Poppins',sans-serif;
    background-color: #ffffff;
}

section{
    padding: 5rem 9% ;
}

.navbar{
    max-width: 1250px;
    margin-inline: 50px;
}
.logo a {
    display: flex;
    font-size: 2.1rem;
    font-weight: 800;
    width: 0;
    height: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #364f6b; 
    margin-left: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
}


.menu ul li a:hover {
    color: #ffff;
    transition: all 0.4s ease;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    font-family:'Poppins',sans-serif; 
    padding: 0px 16px 0px 16px;
    line-height: 40px;
    align-items: center; 
    background-color: inherit;
    margin: 0;
  }

  .dropdown .dropbtn:hover{
    color: #FFF;
    transition: all 0.4s ease;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropbtn i{
    margin: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 150px;

  }

nav {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background: #97d2ec;
    z-index: 4;
    justify-content: space-between;
    box-shadow: 2px 5px 6px 2px rgb(214, 193, 193);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    align-items: center;
    line-height: 40px;
}

nav ul li a :hover {
    text-decoration: underline;
    background-color: #fff;
}   

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.hamburger{
    display: none;
    cursor: pointer;
    
}

.bar{
    display: block;
    width: 45px;
    height: 7px;
    margin :7px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
}

.kolom {
    margin-left: 100px;
    padding: 100px;
}

.image img{
    padding: 100px;
    margin-right: 100px;
}
img{
    width:150%;
}

#halaman{
    padding: 20px;
}

.kolom .deskripsi {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
    margin-top: 45px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 45px;
    width: 100%;
    line-height: 50px;
    color: #364f6b;
}

p {
    color: #364f6b;
    margin-top: 10px;
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-image: url('../assets/background.jpg');
    background-size: cover;
    margin: auto;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    margin-top: 15px;
    color: tomato;
    font-size: 40px;
    font-weight: bold;
}
.blog-heading h3{
    font-size: 2.1rem;
    font-family: 'Poppins' sans-serif;
    color: rgb(9, 177, 243);
    font-weight: 800;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-box{
    padding: 54px;
    width: 260px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 15px;
    box-shadow: 8px 5px 8px #535863;
    border-radius: 5px;
}

.blog-img{
    width: 100%;
}

.blog-img li{
    list-style: none;
    border: none;
    text-align: center;
}

.blog-img a img{
    justify-content: center;
    width: 150px;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 10px;
}

.blog-text a{
    list-style: none;
    text-align: center;
    padding: 10px;
}

.blog-text .blog-title{
    text-align: center;
    font-size: 17px;
    font-weight: 200;
    color: #272727;
}

.blog-text .blog-title:hover{
    color: #1098d6;
    transition: all ease 0.2s;
}

.tbl-biru {
    background: #1098d6;
    border-radius: 30px;
    font-size: 16px;
    padding: 8px 18px 8px 18px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    
}

.tbl-biru:hover {
    background: #367fc7;
    text-decoration: none;
}

.tbl-pink {
    background: #fc5185;
    border-radius: 30px;
    margin-top: 20px;
    padding: 9px 21px 9px 21px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.tbl-pink:hover {
    background: #7FBCD2;
    text-decoration: none;
    color: #f0f0f0;
}

.tbl {
    background: #7FBCD2;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}  

.tbl:hover {
    background: #fc5185;
    text-decoration: none;
    color: #f0f0f0;
}

#slide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider{
    max-width: 1100px;
    display: flex;
    position: absolute;
    margin-top: 30px;
}

.slider .card{
    background-color: #ececec;
    margin: 10px 20px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.slider .card .img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.slider .card .content-slide {
    margin: 10px 20px;
}

.slider .content-slide .title-slide{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.slider .content-slide .sub-title a{
    font-size: 1.3rem;
    font-weight: 700;
    color: #e74c3c;
    margin: 10px;
    text-align: center;
}

.slider .content-slide .sub-title a:hover{
    color: #ffa095;
}

footer {
    width: 100%;
    background-color: #06283D;
    margin: 0;
    padding: 0;
}

.container {
    margin:  0;
    padding: 0;
}

ul{
    list-style: none;
}
.row {
    display: flex;
}

.footer-col{
    width: 100%;
    padding: 0 25px;
}

.footer-col h3{
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}
.footer-col ul li :not(last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
    transition: all 0.5s ease;
}

.footer-col .social a:hover {
    color: #24262b;
    background-color: #ffff;
}
.footer-bottom {
    width: 100%;
    background: #364f6b;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: white;
    position: relative;
}

/* Responsive article */
 @media only screen and(max-width:768px) {
    .kolom{
        
    }
    .image img{
        width: 100%;
    }
 }

/* Responsive Hamburger */
    @media only screen and (max-width:768px) {
        .hamburger{
            display: block;
        }

        .hamburger.active .bar:nth-child(2){
            transform: translate(2px) rotate(40deg);
        }
        .hamburger.active .bar:nth-child(1){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-14px) rotate(-40deg);
        }

        .menu {
        position: fixed;
        left: -100%;
        top: 50px;
        flex-direction: block;
        width: 100%;
        text-align: center;
        transition: 0.2s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background-color: #1098d6;
        background-size: 30px;
        }

        .menu.active{
            margin: 15px 0;
        }

        .menu.active{
            left: 0;
        }
        .tbl-biru{
            background-color: #fc5185;
        }
        .tbl-biru:hover{
            background-color: #97d2ec;
            color:#bbbbbb;
        }
    }